.App {
	padding: 25px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
svg {
	height: 25px;
	width: 25px;
	border-radius: 5px;
	background-color: #ced707;
}
ul.icon-info {
	margin: 20px 0;
	padding: 20px 0;
	border-bottom: 1px dotted #ccc;
	list-style-type: none;
}
ul.icon-info .icon {
	margin-right: 20px;
	display: inline-flex;
}
ul.icon-info span.info {
	padding: 2px 0px 0px 5px;
	font-size: 12px;
	font-weight: 700;
}
.ingredients {
	background: #f7f7f7;
	padding: 20px;
	border-radius: 10px;
	margin-top: 25px;
	max-width: 75%;
}
.ingredients h3 {
	margin: 0 0 20px 0;
}
.ingredients ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.ingredients li {
	border-bottom: 1px dotted #d9d9d9;
	padding: 10px 0;
}
.close-btn {
	max-width: 50%;
	padding: 10px;
	text-align: center;
	font-size: 1.5em;
	background: #ced707;
	color: #fff;
	border-radius: 10px;
	font-weight: 800;
	display: block;
}
.close-btn a {
	color: #fff;
	text-decoration: none;
}

/* no grid support? */
.sidebar {
	float: right;
	width: 29.1489%;
	padding: 25px;
}
section {
	float: left;
	width: 69.7872%;
	//border: 2px solid #444;
	padding: 10px 100px;
}
header img {
	object-fit: cover;
	width: 100%;
	//max-width: 100%;
	max-height: 200px;
	border-radius: 5px;
}
/* make a grid */
.recipe-full {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 30%;
	grid-gap: 10px;
}

.recipe-full > * {
	color: #222;
	border-radius: 5px;
	font-size: 1em;
	/* needed for the floated layout*/
	margin-bottom: 10px;
}

header {
	grid-column: 1 / -1;
	/* needed for the floated layout */
	clear: both;
	padding: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
	.recipe-full > * {
		width: auto;
		margin: 0;
	}
}
