.App {
	padding: 25px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
svg {
	height: 100px;
	width: 100px;
	background: #CED707;
	border-radius: 25px;
}
div.icon-info {
	text-align: center;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px dotted #ccc;
}
div.icon-info .icon {
	margin: 0;
	padding: 0;
}
div.icon-info .info {
    font-size: 1.5em;
	font-weight: 800;
	margin: 0;
}
.ingredients p {
	word-wrap: break-word;
}
.close-btn {
	max-width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 1.5em;
	background: #CED707;
	color: #FFF;
	border-radius: 10px;
	font-weight: 800;
	display: block;
}
.close-btn a{
	color: #FFF;
	text-decoration: none;
}

/* no grid support? */
.sidebar {
	float: right;
	width: 19.1489%;
	border-left: 2px solid #444;
	background: #DEDEDE;
	border: 2px solid #444;
	padding: 25px;
}
section {
	float: left;
	width: 79.7872%;
	background: #DEDEDE;
	border: 2px solid #444;
	padding: 10px 25px;
}
header img {
	object-fit: cover;
	width: 100%;
	//max-width: 100%;
	max-height: 100px;
	border-radius: 5px;
}
/* make a grid */
.recipe-full {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 20%;
	grid-gap: 10px;
}

.recipe-full > * {
	color: #222;
	border-radius: 5px;
	font-size: 1em;
	/* needed for the floated layout*/
	margin-bottom: 10px;
}

header {
	grid-column: 1 / -1;
	/* needed for the floated layout */
	clear: both;
	background-color: #CED707;
	padding: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
	.recipe-full > * {
		width: auto;
		margin: 0;
	}
}
