.modal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .meal {
    min-width: 200px;
    max-width: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

[aria-modal="true"] {
  @media (max-width: 600px) {
    width: 90%;
  }
}
